
<a href="https://github.com/aethermx/ember-cli-bootstrap-tokenfield"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>

<div class="container">

  <div class="row">
    <div class="col-xs-12">

      <div class="page-header">
        <h1 id="tokenfield">Tokenfield</h1>
      </div>

      <h2>Install addon</h2>

      <code>
        ember install:addon ember-cli-bootstrap-tokenfield
      </code>

      <h2 id="examples">Examples</h2>
      <p>Create elegant taggable fields with copy/paste and keyboard support.</p>

      <p><strong>Using jQuery UI Autocomplete</strong></p>

      <div class="panel panel-default">
        <div class="panel-body">
          {{input-tokenfield value="red,green,blue" 
                             placeholder="Type something and hit enter"
                             autocomplete=autocomplete
                             showAutocompleteOnFocus=true}}
        </div>
        <div class="panel-footer">
          Controller
          <pre>autocomplete: {
  source: ['red','blue','green','yellow','violet','brown','purple','black','white'],
  delay: 100
}</pre>
          Template
          <pre>\{{input-tokenfield value="red,green,blue" 
                   placeholder="Type something and hit enter"
                   autocomplete=autocomplete
                   showAutocompleteOnFocus=true}}</pre>
        </div>
      </div>

      <p><strong>Using Twitter Typeahead</strong></p>

      <div class="panel panel-default">
        <div class="panel-body">
          {{input-tokenfield value="red,green,blue"
                             placeholder="Type something and hit enter"
                             typeahead=typeahead}}
        </div>
        <div class="panel-footer">
          Controller
          <pre>typeahead: (function() {
  var engine = new Bloodhound({
    local: [{value: 'red'}, {value: 'blue'}, {value: 'green'} , 
            {value: 'yellow'}, {value: 'violet'}, {value: 'brown'}, 
            {value: 'purple'}, {value: 'black'}, {value: 'white'}],
    datumTokenizer: function(d) {
      return Bloodhound.tokenizers.whitespace(d.value);
    },
    queryTokenizer: Bloodhound.tokenizers.whitespace
  });
  engine.initialize();

  return [null, { source: engine.ttAdapter() }];
})()</pre>
            Template
          <pre>\{{input-tokenfield value="red,green,blue"
                   placeholder="Type something and hit enter"
                   typeahead=typeahead}}</pre>
        </div>
      </div>

    </div><!-- col -->
  </div><!-- row -->
</div><!-- container -->

{{outlet}}
